header {
    background-color: #363737;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1cm;
    width: auto;
    place-items: center;
}

a {
    color: lightgray;
    background-color: #363737;
    font-size: large;
    text-decoration: none;
}

body {
    background-image: url("DECO27_Salamander.png");
}

h1 {
    color: lightgrey;
    text-align: center;
}

h2 {
    color: lightgrey;
    text-align: center;
}

musik {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-around;
}

iframe {
    place-self: center;
    margin: auto;
}

main {
    background-color: #363737;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    height: 80%;
}

main p {
    font-size: 21px;
    color: lightgrey;
    width: 90%;
    margin: auto;
    text-align: justify;
}