header {
    background-color: #363737;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1cm;
    width: auto;
}

a {
    text-align: center;
    text-align-last: center;
    color: lightgray;
    background-color: #363737;
}

body {
    background-image: url("DECO27_Salamander.png");
}

h1 {
    color: lightgrey;
    text-align: center;
}

main {
    background-color: #363737;
    border-radius: 15px;
    width: 80%;
    height: 60%;
}

h3 {
    color: lightgrey;
    width: 80%;
    text-align: center;
}