header {
    background-color: #363737;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1cm;
    width: auto;
}

a {
    text-align: center;
    text-align-last: center;
    color: lightgray;
    background-color: #363737;
}

body {
    background-image: url("DECO27_Salamander.png");
}

h3 {
    background-color: #363737;
    color: lightgrey;
    width: 10% 80% 10%;
    text-align: center;
}